<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Get the Best in Wet Basement Repair - Book Now with [company]!</title>
        <link rel="icon"  href="/core/images/universal/favicon/bs-favicon.ico">
        <meta name="description" content="[[description]]" />
        <meta name="keywords" content="[[keywords]]" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
           [[custom_core_v3]]
        <link href='http://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic' rel='stylesheet' type='text/css'>
<style>
body {
    color: #717171;
    background: #fff;
    padding: 0px;
}
.row {
    max-width: 1200px;
}
#wrapper {
    padding: 20px 0px 30px;
}
#wrapper .row { 
    padding: 0px !important; 
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, dt, dd {
    font-family: 'Cabin', sans-serif !important;
}
.generic-content {
    padding-top: 30px;
}

.generic-content h2 {
  font-size: 34px !important;
  color: <%- dark %>;
  margin: 0px 0px 15px 0px !important;
  line-height: 40px !important;
  font-weight: 700 !important;
}
.generic-content h3 {
    font-size: 26px !important;
    font-weight: 400 !important;
    color: rgb(0, 106, 207);
}
.generic-content p {
    font-size: 17px;
}
.generic-content ul {
    font-size: 17px;
    margin-left: 25px;
}
.generic-content p.products {
    margin-bottom: 3px;
}
.generic-content span,
.generic-content ul li:not(:last-child){
    font-weight: 700;
    color: #636363;
}
.generic-content ul li:last-child {
    font-style: italic;
}
.generic-content .coupon p {
    margin: 10px auto 0;
    font-size: 14px;
}
.generic-content p.offer-disclaimer {
    font-size: 14px;
    line-height: 1.2em;
    font-style: italic;
    color: #999;
}
.columns {
    padding-left: 2rem;
    padding-right: 2rem;
}
@media screen and (min-width: 1025px){
    .generic-content {
        padding-right: 60px;
    }
}
/****** HEADER ******/
.header {
  padding: 10px 0px;
}
/****** LOGO ******/

.logo img {max-width: 250px;}

/****** TOP CONTACT ******/

.top-cta {
    width: 375px;
}

.top-cta p {
    margin-bottom: 0px;
    text-align: center;
}
p.click-call {
    color: #717171;
    font-size: 20px;
}
p.click-call a {
  color: #ed1e26;
}
p.top-phone {
    font-size: 36px;
    line-height: 48px;
    font-weight: bold;
    color: <%- bright %>;
}@media screen and (min-width: 641px){
    .header .columns {
        height: 150px;
    }
    .logo, .top-cta {
        position: absolute;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 50%;
    }
    .logo {
        left: 20px;
    }
    .top-cta {
        right: 0px;
    }
}
@media screen and (max-width: 640px){
  .logo img {
    display: block;
    margin: 20px auto;
  }
  .top-cta {
    padding: 0px 0px 20px;
    float: none;
    width: 100%;
  }
  p.click-call {
      font-size: 16px;
  }
  p.top-phone {
      font-size: 30px;
      line-height: 1.3em;
  }

}

/****** MAIN MESSAGE ******/
.lp-main-message-wrap {
    background: url('<%- mainMessageImage %>') no-repeat left center;
    background-size: cover;
}
.lp-main-message-wrap > .row {
    height: 450px;
    padding: 30px 0;
}
.lp-main-text {
    position: relative;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    top: 50%;
}
.lp-main-text span {
    font-family: 'Cabin',sans-serif;
}
span.headline {
    font-size: 60px;
    line-height: 1.2em;
    margin-bottom: 25px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0px 3px 3px rgba(0,0,0,.5);
    display: block;
}
span.subheadline {
    display: inline-block;
    font-size: 38px;
    line-height: 100%;
    padding: 30px 25px 35px;
    color: #ffffff;
    text-shadow: 0px 1px 0px rgb(0, 0, 0);
    background: <%- dark %>;
    border: 3px dashed #fff;
}
span.subheadline a {
    color: #fff;
    border-bottom: 2px dotted rgba(255,255,255,0);
    padding-bottom: 3px;
    transition: border-bottom .1s ease;
}
span.subheadline a:hover {
    border-bottom: 3px dotted rgba(255,255,255,.5);
}
@media screen and (max-width: 640px){
    .lp-main-message-wrap > .row {
        height: 350px;
    }
    .lp-main-text span {
        text-align: center;
    }
    span.headline {
        font-size: 50px;
        line-height: 52px;
    }
    span.subheadline {
        font-size: 25px;
        line-height: 32px;
    }
}
/***** Footer *****/
#footer-wrap {
    padding: 30px 0px;
    background: #f1f1f1;
    bottom: -20px;
    position: relative;
}
.company-features {
    color: #717171;
    padding-left: 25px;
    border-left: 2px solid #717171;
}
.company-features ul {
    margin-bottom: 0;
}
.company-features ul li {
    line-height: 1.2em;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
}
.company-features p {
    text-transform: uppercase;
    color: #21409a;
    font-size: 14px;
}
.footer-links img {
    max-width: 300px;
    margin-bottom: 10px;
}
.footer-links p {
    font-size: 14px;
}
#footer-wrap a:not(.atb):hover {
    border-bottom: 1px dotted #0078df;
}
.footer-tag p {
  font-size: 13px;
  color: #aaa;
  margin: 0px auto;
}
@media screen and (max-width: 640px) {
    .company-features {
        text-align: center;
        border-left: 0;
        border-bottom: 1px solid #d9d9d9;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }
    .company-features ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .footer-links img, .footer-links p, .footer-tag p {
        text-align: center;
        margin: 0px auto 20px;
        display: block;
    }
}
/********** CONTACT FORM **********/
    .contact-form-lp {
        margin: 0 auto;
        background: rgb(247,247,247);
        border-radius: 3px;
        box-shadow: 0 0 30px rgba(0,0,0,.25);
    }
    .contact-form-lp > p {
      margin: 0px;
    }
    .contact_form.page_widget {
      max-width: 100%;
      margin: 20px auto !important;
    }
    .contact_form.page_widget span.form-head {
        color: <%- bright %>;
        font-size: 28px !important;
        font-weight: bold;
        text-align: center;
        display: block;
        line-height: 1.2em!important;
        font-family: 'Cabin',sans-serif;
    }
    .contact_form.page_widget span.form-subhead {
        font-size: 14px;
        display: block;
        text-align: center;
        line-height: 1.4em;
        margin: 10px 20px 30px;
    }
    .contact_form form {
        width: 100%;
    }
    .contact_form.page_widget p {
        line-height: 1.4em;
        font-size: 14px;
    }
    .contact-form-lp input.error,  .contact-form-lp select.error  {
        background: #FFF5F6;
        border: 1px dotted #FF0000 !important;
    }
    .contact-form-lp label.error {
        display: none !important;
    }
    #contact_form input {
    display: block;
    width: 100%;
    height: 35px;
    padding: 3px 5px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    #contact_form select {
        background-color: #fff;
        border-radius: 4px;
        height: 35px !important;
    }
    #contact_form textarea {
        border-radius: 4px;
    }
    #contact_form .submit {
      border: 0;
      color: white;
      background: <%- bright %>;
      cursor: pointer;
      font-size: 18px !important;
      border-radius: 5px;
      height: 50px;
      transition: background .3s ease;
    }
    #contact_form .submit:hover {
      background: #ed1e26;
    }
    /* --- START CONTACT FORM --- */
      .contact-form-lp .contact_form_intro_phone {
    margin-bottom: 20px;
    }
    .contact-form-lp label {
    font-size: 14px;
    font-weight: 800;
    color: #555 !important;
    margin-bottom: 5px !important;
    clear: both;
    }
    
    .contact-form-lp form input {
        margin-bottom: 0px !important;
    }
    .contact-form-lp form > div {
    margin-bottom: 20px;
    padding: 0;
    }
    .contact-form-lp .lname {
    float: right;
    width: 49%;
    padding-left: 0;
    }
    .contact-form-lp .fname {
    float: left;
    width: 49%;
    }
    .contact-form-lp .lname input, .contact-form-lp .fname input {
    clear: both;
    width: 100%;
    }
    .contact-form-lp .address, .contact-form-lp .address {
    width: 100%;
    }
    .contact-form-lp .address input, .contact-form-lp .address input {
    clear: both;
    width: 100%;
    }
    .contact-form-lp .city {
    width: 36%;
    padding-right: 2%;
    float: left;
    }
    .contact-form-lp .city input {
    clear: both;
    width: 100%;
    }
    .contact-form-lp .state {
    width: 33% !important;
    padding-right: 2%;
    float: left;
    }
    .contact-form-lp .state select {
    clear: both;
    width: 100%;
    height: 30px;
    padding: 5px 8px;
    margin-bottom: 0;
    }
    .contact-form-lp .zip {
    width: 30%;
    float: right;
    }
    .contact-form-lp .zip input {
    clear: both;
    width: 100%;
    }
    .contact-form-lp .phone {
    float: left;
    width: 49%;
    padding-right: 2%;
    }
    .contact-form-lp .phone input {
    clear: both;
    width: 100%;
    }
    .contact-form-lp .email {
    float: right;
    width: 49%;
    }
    .contact-form-lp .email input {
    clear: both;
    width: 100%;
    }
    .contact-form-lp .servicetype {
    clear: both;
    width: 100%;
    }
    .contact-form-lp .servicetype select {
    clear: both;
    width: 100%;
    }
    .contact-form-lp .what-prompted {
        clear: both;
    }
    .contact-form-lp .comment {
    clear: both;
    width: 100%;
    }
    .contact-form-lp .comment textarea {
    clear: both;
    width: 100%;
    height: 80px !important;
    border: 1px solid #ccc;
    }
    .contact-form-lp .submit {
    width: 100px;
    margin: 20px auto !important;
    }
    .contact-form-lp .contact_form_outro {
    font: normal 10px/13px 'Cabin', sans-serif !important;
    margin: 20px 0;
    }
    @media screen and (min-width: 1025px) {
        .contact-form-lp {
            top: -370px;
            right: 0;
            position: absolute;
        }
    }
    @media screen and (max-width: 1024px) {
        .contact-form-lp {
            margin: 20px auto;
        }
    }
    @media screen and (max-width: 640px) {
        .generic-content + .columns {
            padding: 0;
        }
        .contact-form-lp .fname, .contact-form-lp .lname, .contact-form-lp .address, .contact-form-lp .city, .contact-form-lp .state, .contact-form-lp .zip, .contact-form-lp .phone, .contact-form-lp .email {
            width: 100% !important;
            float: none !important;
            padding: 0 !important;
        }
        .contact_form.page_widget {
          width: 90%;
          float: none;
          margin: 0px auto;
        }
    }
/* --- END CONTACT FORM --- */

/* --- CONFIRMATION PAGE ---*/
.contact_confirmation.module {
    overflow: auto;
    padding: 0px 30px 30px;
}
    </style>
    </head>
    <body>
        <div class="header">
          <div class="row">
            <div class="medium-6 columns">
              <div class="logo">
                <a href="/" target="_blank" title="[company]"><img src="<%- logo %>"></a>
              </div>
            </div>
            <div class="medium-6 columns">
              <div class="top-cta">
                <p class="click-call">Contact Us Today for a Free Estimate</p>
                <p class="top-phone">[phone]</p>
              </div>
            </div>
          </div>
        </div><!-- END HEADER -->
            
        <div class="lp-main-message-wrap">
            <div class="row">
                <div class="columns large-7 lp-main-text">
                    <span class="headline"><%- mainMessageText %></span>
                    <span class="subheadline"><a href="/about-us/coupons.html" target="_blank">
                    <%- mainMessageOffer %></a></span>
                </div>
            </div>
        </div><!-- END MAIN MESSAGE -->
        
        <div id="wrapper">
            <div class="row">
                <div class="large-7 columns generic-content">
<h2><%- ch1 %></h2>
<p><%- cp1 %></p>
<h2><%- ch2 %></h2>
<p><%- cp2 %></p>

<p class="products">Our products include:</p>
<ul>
<li>Self-draining dehumidifiers</li>
<li>Zoeller sump pump systems</li>
<li>A patented, time-tested drainage system</li>
<li>and more!</li>
</ul>
<p>Get a Free inspection and estimate today for a dry, healthy home all winter long!</p>
<p class="offer-disclaimer"><%- mainMessageDisc %></p>
 </div>
        <div class="large-5 columns">
            <div class="columns contact-form-lp">
                <p><img src="http://img1.basementsite.com/img/scripts/cms_module_icon_generator.php?title=Contact Widget&type=2" class="widget-module" data-id="<%- formID %>" title="Contact Widget"/></p>
            </div>
        </div>
    </div><!-- END ROW content-->
</div><!-- END WRAPPER -->
<div id="footer-wrap">
        <div class="row">
            <div class="columns medium-4 medium-push-8 company-features">
                <div class="">
                  <p>About [company]</p>
                    <%- footerList %>
                </div>
            </div>
            <div class="columns medium-8 medium-pull-4">
                <div class="row footer-links collapse">
                    <div class="columns">
                        <a class="atb" href="/" target="_blank"><img src="<%- fc %>" alt="[company]"></a>
                <p><a href="<%- l1 %>" target="_blank" title="<%- l1t %>"><%- l1t %></a>
                | <a href="<%- l2 %>" target="_blank" title="<%- l2t %>"><%- l2t %></a> 
                | <a href="<%- l3 %>" target="_blank" title="<%- l3t %>"><%- l3t %></a> 
                | and <a href="<%- l4 %>" target="_blank" title="<%- l4t %>"><%- l4t %></a></p>
                    </div>
                </div>
                <div class="row footer-tag collapse">
                    <div class="columns">
                        <p>&copy; <?php echo(date('Y')); ?> [[company]] | 
                            [[address street]] [[address city]],
                            [[address state]] [[address zip]] | [phone]</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- END FOOTER -->
    
    
    <p><script type="text/javascript">
			printWindow = 
			{
				init : function () {
					$('a.print').bind('click', printWindow.printCoupon);
				},
				printCoupon : function () {
					var win = window.open('', 'Image', 'resizable=yes,...');
					if (win.document) {
						win.document.writeln('<img src="'+ $(this).attr('href') +'" /><p>Call <strong><span id="numberassigned_3" class="mongoose_phone">1-800-466-8664</span></strong> to schedule your appointment with Foundation Recovery Systems!</p>');
						win.document.close();
						win.focus();
						win.print();
					}
					return false;
				}
			}
			
			$(document).ready(function () {
				printWindow.init();
				
				var couponItems = $('.coupon_item');
				
				if( couponItems.length > 4 ) {
					$(couponItems).addClass('coupon_item_small');
				}

				$('.coupon_item').hover(
					function(){
						$(this).children('div.expiration_notice').toggleClass('highlight');
					},
					function(){
						$(this).children('div.expiration_notice').toggleClass('highlight');
					});

			});
		</script></p>

    </body>
</html>
